@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap");

.footer {
  color: #ffffff;
  background-color: #2b2b2b;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 5px;
  position:fixed;
  left:0;
  bottom:0;
  right:0;
}
.tac-text{
  text-align: left;
}
.nav-bar {
  border-top: 1px solid blue;
}

.footer-links {
  list-style: none;
  padding-left: 0;
  margin-right: 50px;
  width:200px;
}

.header { 
  grid-area: header;
  font-family: 'Tangerine', cursive;
  background-color: #59c65b;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  padding-left: 1.5rem;
}

.brand a{
  color: #f7f7f7;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a { 
  color: #ffffff;
  text-decoration: none;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  margin-right: 25px;
}
.header-links a:hover {
  color:#2b2b2b
}

.search-bar {
  position: relative;
  width: 50%;
  left: 60%;
  margin-top: 50px;
} 

p {
  text-align: center;
  padding-top: 15px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

.right {
  padding-top: 25px;
  background-color: #59c65b;
  float: right;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
  text-align: left;
}

.main {
  float: left;
  width: 80%;
  padding: 20px 20px;
  overflow: hidden;
}
.about{
  background-color: #2b2b2b;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.flag {
  background: url(./assets/images/canada-flag.png);
}

.contact-h1{
  text-align: center;
  color: black;
  font-weight: bold;
}

section {
  margin: 0% 20%;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  border-color: rgb(173, 255, 47);
  background-color: lightgreen;
}
.contact-label{
  font-weight: bold;
  font-size: 20px;
  display: block;
  width: 100%;
}

.contact-text{
  width: 100%;
  height: 100%;
}

.contact-form {
  padding: 30px;
  box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.6);
 
}

.contact-input{
  display: block;
  width: 100%;
  height: 25px;
  padding: 2px;
  margin-bottom: 10px;
}
.map-main{
  text-align: center;
}

.thankyou{
  text-align: center;
  color: #2b2b2b;
  background-color: #59c65b;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.contact-button{
  border: 1px solid grey;
	border-radius: 5px;
  padding: 8px 12px;
  font-size: 20px;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: 'row';
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item {
  flex: 0 1 auto;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}